.popup {
  display: flex;
  align-items: center;
  justify-content: center;
  position: fixed; 
  top: 0;
  right: 0;
  width: 100%;
  height: 100vh;
  visibility: hidden;
  opacity: .5;
  transition: visibility .2s, opacity .3s ease-in-out;
}