.profile__edit-button {
  width: 24px;
  height: 24px;
  background-image: url('/images/profile__edit-button.svg');
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: 0.6;
}