.popup__info {
  width: 430px;
  height: 330px;
  background: #fff;
  border-radius: 10px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

@media screen and (max-width: 767px) {
  .popup__info {
    width: 282px;
    height: 322px;
  } 
}
