.profile__edit-button {
  margin-left: 18px; 
  margin-top: 15px;
  padding: 0;
  width: 24px;
  height: 24px;
  background-image: url('../../../images/profile__edit-button.svg');
  border: 1px solid #fff;
  box-sizing: border-box;
  background-color: transparent;
  background-size: 41%;
  background-repeat: no-repeat;
  background-position: center;
}

.profile__edit-button:hover {
  opacity: .6;
}

@media screen and (max-width: 767px) {
  .profile__edit-button {
    width: 18px;
    height: 18px;
    margin-left: 10px; 
    margin-top: 5px;
  }
}