.element__delete {
	position: absolute;
	top: 20px;
	right: 20px;
  background-color: rgba(0,0,0,0);
	background-image: url('../../../images/element_trash.svg');
	background-repeat: no-repeat;
	width: 18px;
	min-height: 19px;
	border: none;
	cursor: pointer;
	transition: opacity .5s linear;
}

.element__delete:hover {
	opacity: .6;
}